extends layout

block content
  h1= title
  p Welcome to #{title}
  a(class='button', href='/users') Users 
  br
  a(class='button',href='/printers') Printers
  br
  a(class='button',href='/imgtest') ImgTest
  br
  a(class='button',href='/capturetest.html') captureTest
